/* Estilos Mobile First */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff8f8;
}

.container {
    width: 90%;
    margin: 10px auto;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin: 10px auto;
    display: block;
    padding: 5px;
}

h1, h2 {
    color: #011B40;
    text-align: center;
}

input[type="number"], button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

button {
    background-color: #011B40;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3137eb;
}

.resultados {
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
}

.computo-section {
    display: none;
}

.computo-section.show {
    display: block;
}

/* Media Queries for larger screens */
@media (min-width: 768px) {
    .container {
        width: 80%;
        max-width: 800px;
        padding: 20px;
    }

    .img {
        max-width: 200px;
    }

    input[type="number"], button {
        width: calc(100% - 26px);
        padding: 12px;
    }
}

/* Estilos para las barras de desplazamiento en navegadores WebKit */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #011B40;
    border-radius: 5px;
}
