/* Estilos Mobile First */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff8f8;
}

.text-danger {
    font-size: 0.9rem;
    margin-top: 0.3rem;
    display: block;
}

.container {
    width: 90%; /* Ancho inicial para móviles */
    margin: 10px auto;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin: 10px auto;
    display: block;
    padding: 5px;
}

h1, h2 {
    color: #011B40;
    text-align: center;
}

input[type="number"], button {
    width: 100%; /* Ancho completo para móviles */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

button {
    background-color: #011B40;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3137eb;
}

.resultados {
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
}

.computo-section {
    display: none;
}

.computo-section.show {
    display: block;
}

/* Estilos para tablets (pantallas medianas) */
@media (min-width: 480px) {
    .container {
        width: 95%; /* Ajuste de ancho para tablets */
        max-width: 600px;
        padding: 16px;
    }

    .img {
        max-width: 200px;
    }

    input[type="number"], button {
        width: calc(100% - 20px); /* Reducción de ancho */
        padding: 12px;
    }
}

/* Estilos para pantallas grandes (PCs) */
@media (min-width: 768px) {
    .container {
        width: 80%; /* Ancho para pantallas grandes */
        max-width: 800px;
        padding: 20px;
    }

    .img {
        max-width: 250px;
    }

    input[type="number"], button {
        width: calc(100% - 26px);
        padding: 14px;
    }
}

/* Estilos para las barras de desplazamiento en navegadores WebKit */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #011B40;
    border-radius: 5px;
}


/* Estilos específicos para personalizar elementos */
body {
    background-color: #fff8f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.resultados h2 {
    color: #011B40;
    text-align: center;
}

.resultados p {
    margin: 8px 0;
    font-size: 15px;
}

/* Ajustes para el contenedor de las imágenes */
.img-fluid {
    margin: 0 auto;
    display: block;
}

/* Quitar flechas de inputs numéricos en navegadores WebKit */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
